[submodule "workspace/src/rosbridge_suite"]
	path = workspace/src/rosbridge_suite
	url = https://github.com/RobotWebTools/rosbridge_suite.git
[submodule "workspace/src/usb_cam"]
	path = workspace/src/usb_cam
	url = https://github.com/ros-drivers/usb_cam.git
[submodule "workspace/src/nmea_navsat_driver"]
	path = workspace/src/nmea_navsat_driver
	url = https://github.com/ros-drivers/nmea_navsat_driver.git
	branch = ros2
[submodule "workspace/src/robot_localization"]
	path = workspace/src/robot_localization
	url = https://github.com/cra-ros-pkg/robot_localization.git
	branch = foxy-devel
